@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Hahmlet:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #000000;
  height: 12302px;
  position: relative;
  overflow: hidden;
}
._1 {
  opacity: 0.13;
  width: 1412px;
  height: 1995px;
  position: absolute;
  left: 1984px;
  top: 11045px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(-1, 1);
  object-fit: cover;
}
._12 {
  opacity: 0.2;
  width: 2075px;
  height: 1992px;
  position: absolute;
  left: -95px;
  top: 7197px;
  object-fit: cover;
}
._1-1 {
  width: 2872.86px;
  height: 2030.99px;
  position: absolute;
  left: -144.61px;
  top: 4919.44px;
  transform-origin: 0 0;
  transform: rotate(15.863deg) scale(1, 1);
  object-fit: cover;
}
.group-11 {
  position: absolute;
  inset: 0;
}
._21-1 {
  opacity: 0.29;
  width: 704.29px;
  height: 995px;
  position: absolute;
  left: 886px;
  top: 2049.81px;
  transform-origin: 0 0;
  transform: rotate(-43.388deg) scale(1, 1);
  object-fit: cover;
}
._22-1 {
  opacity: 0.18;
  width: 596px;
  height: 842px;
  position: absolute;
  left: 377.68px;
  top: 1733px;
  transform-origin: 0 0;
  transform: rotate(37.252deg) scale(1, 1);
  object-fit: cover;
}
._2-1 {
  width: 2334.92px;
  height: 1512.55px;
  position: absolute;
  left: -276px;
  top: 2665.21px;
  transform-origin: 0 0;
  transform: rotate(-6.572deg) scale(1, 1);
  object-fit: cover;
}
.group-13 {
  position: absolute;
  inset: 0;
}
._1-12 {
  width: 651.42px;
  height: 867.6px;
  position: absolute;
  left: 1186px;
  top: 6707.56px;
  transform-origin: 0 0;
  transform: rotate(-11.741deg) scale(1, 1);
  object-fit: cover;
}
._13 {
  width: 789.52px;
  height: 1115.4px;
  position: absolute;
  left: 577.23px;
  top: 6213.74px;
  transform-origin: 0 0;
  transform: rotate(43.794deg) scale(1, 1);
  object-fit: cover;
}
.image-0-1 {
  width: 2105px;
  height: 917px;
  position: absolute;
  left: -95px;
  top: 109px;
  object-fit: cover;
}
._14 {
  width: 596px;
  height: 842px;
  position: absolute;
  left: 149px;
  top: 10995px;
  object-fit: cover;
}
._3 {
  opacity: 0.88;
  width: 1305px;
  height: 1749px;
  position: absolute;
  left: 342px;
  top: 3747px;
  object-fit: cover;
}
._2 {
  opacity: 0.23;
  width: 854.94px;
  height: 1263.66px;
  position: absolute;
  left: 995px;
  top: 11034.98px;
  transform-origin: 0 0;
  transform: rotate(-12.564deg) scale(1, 1);
  object-fit: cover;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.div {
  color: #ff6200;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 170px;
  font-weight: 600;
  position: absolute;
  left: 284px;
  top: 785px;
  width: 1351px;
  height: 173px;
}
.div2 {
  color: #ff6200;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 900px;
  top: 1018px;
  width: 656px;
  height: 80px;
}
._99 {
  color: #b0fb00;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1996px;
  width: 1111px;
  height: 55px;
}
.triport-rock-festival-1999-7-31 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2149px;
  width: 728px;
  height: 352px;
}
.triport-rock-festival-1999-7-31-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #7bff00;
}
.triport-rock-festival-1999-7-31-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.triport-rock-festival-1999-7-31-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
.triport-rock-festival-1999-7-31-span6 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span7 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.triport-rock-festival-1999-7-31-span8 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span9 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
.triport-rock-festival-1999-7-31-span10 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.infp {
  color: #27a5ff;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 482px;
  top: 7086px;
  width: 983px;
  height: 55px;
}
._4-3-i-e {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 8904px;
  width: 664px;
  height: 240px;
}
._4-3-i-e-span {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
}
._4-3-i-e-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}
._20-e-i {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 10729px;
  width: 676px;
  height: 240px;
}
._20-e-i-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}
._20-e-i-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
}
._20-e-i-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}
.fstvl-life-1986-mbti {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 438px);
  top: 7197px;
  width: 841px;
  height: 64px;
}
.fstvl-life-1986-mbti-span {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
}
.fstvl-life-1986-mbti-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #4b97fa;
}
.fstvl-life-1986-mbti-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}
.div3 {
  color: #ff45f3;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4016px;
  width: 983px;
  height: 55px;
}
._21-2-3-56-2022 {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 5063px;
  width: 783px;
  height: 182px;
}
._21-2-3-56-2022-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._21-2-3-56-2022-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._21-2-3-56-2022-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._21-2-3-56-2022-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._21-2-3-56-2022-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._21-2-3-56-2022-span6 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._21-2-3-56-2022-span7 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._21-2-3-56-2022-span8 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._21-2-3-56-2022-span9 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div4 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 513px;
  top: 11722px;
  width: 921px;
  height: 96px;
}
.div-4-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}
.div-4-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #ff6a00;
}
.div5 {
  color: #ff6200;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 170px;
  font-weight: 600;
  position: absolute;
  left: 298px;
  top: 11416px;
  width: 1351px;
  height: 173px;
}
.div6 {
  color: #ffffff;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 356px;
  top: 2934.43px;
  width: 1193px;
  height: 55px;
  transform-origin: 0 0;
  transform: rotate(-8.942deg) scale(1, 1);
}
._99-9-2000-7-2006-2007-m {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 3417.16px;
  width: 728px;
  height: 287px;
  transform-origin: 0 0;
  transform: rotate(-8.942deg) scale(1, 1);
}
._99-9-2000-7-2006-2007-m-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span6 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span7 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
._99-9-2000-7-2006-2007-m-span8 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span9 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span10 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
._99-9-2000-7-2006-2007-m-span11 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span12 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span13 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span14 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span15 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.table-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 998px;
  position: absolute;
  left: 441px;
  top: 3069.12px;
  transform-origin: 0 0;
  transform: rotate(-8.942deg) scale(1, 1);
}
.table {
  background: rgba(255, 128, 0, 0.16);
  border-radius: 4px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.cell {
  background: #95d72d;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.content {
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.cell2 {
  background: #d6f6d3;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.text2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.div7 {
  color: #ffffff;
  text-align: center;
  font-family: "Hahmlet", serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 490.83px;
  top: 5547px;
  width: 1083px;
  height: 55px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
._6 {
  color: #ffffff;
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 807.34px;
  top: 6429px;
  width: 411px;
  height: 52px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
._6-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._6-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._6-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._14-1 {
  width: 2376px;
  height: 1182px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 872px;
  object-fit: cover;
}
._2012-2024 {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 536.41px;
  top: 5661px;
  width: 915px;
  height: 96px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
._2012-2024-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._2012-2024-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._2012-2024-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 815.47px;
  top: 5925.04px;
  width: 335px;
  height: 129px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
.div-8-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div-8-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.div-8-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div9 {
  color: #ffffff;
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 952.42px;
  top: 6110px;
  width: 359px;
  height: 59px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
.div-9-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div-9-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.div-9-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div10 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 760.75px;
  top: 6261.62px;
  width: 364px;
  height: 120px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
.div-10-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div-10-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.div-10-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._15 {
  width: 278px;
  height: 392px;
  position: absolute;
  left: 1580px;
  top: 1058px;
  object-fit: cover;
}
._1-13 {
  width: 807.65px;
  height: 645.29px;
  position: absolute;
  left: 1923.42px;
  top: 5194.62px;
  transform-origin: 0 0;
  transform: rotate(118.068deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-1 {
  background: #ff8000;
  width: 1920px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #ff8000;
  width: 1920px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 12177px;
}
._19-2022-10-1 {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4132px;
  width: 880px;
  height: 55px;
}
._19-2022-10-1-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #f700ff;
}
._19-2022-10-1-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._19-2022-10-1-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.gr-1-1 {
  width: 1519px;
  height: 1074px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4160px;
  object-fit: cover;
}
._17-1 {
  width: 256px;
  height: 361px;
  position: absolute;
  left: 104px;
  top: 1663px;
  object-fit: cover;
}
._16 {
  width: 306px;
  height: 353px;
  position: absolute;
  left: 1341px;
  top: 3021px;
  object-fit: cover;
}
.group-15 {
  position: absolute;
  inset: 0;
}
._1-14 {
  width: 901.2px;
  height: 1237.9px;
  position: absolute;
  left: 300px;
  top: 3050px;
  transform-origin: 0 0;
  transform: rotate(-46.969deg) scale(-1, 1);
  object-fit: cover;
}
._1-15 {
  width: 553.18px;
  height: 781.5px;
  position: absolute;
  left: 1892.49px;
  top: 2184px;
  transform-origin: 0 0;
  transform: rotate(4.471deg) scale(-1, 1);
  object-fit: cover;
}
._17 {
  width: 712.72px;
  height: 426.57px;
  position: absolute;
  left: 780px;
  top: 5630px;
  transform-origin: 0 0;
  transform: rotate(-7.478deg) scale(-1, 1);
  object-fit: cover;
}
._18 {
  width: 482px;
  height: 682px;
  position: absolute;
  left: 1307px;
  top: 5837px;
  object-fit: cover;
}
._19 {
  width: 486.86px;
  height: 345.74px;
  position: absolute;
  left: 305.95px;
  top: 6072px;
  transform-origin: 0 0;
  transform: rotate(11.334deg) scale(1, 1);
  object-fit: cover;
}
._110 {
  width: 471px;
  height: 341px;
  position: absolute;
  left: 1201px;
  top: 6375px;
  object-fit: cover;
}
._2-12 {
  width: 445.37px;
  height: 601.12px;
  position: absolute;
  left: 943.22px;
  top: 961.9px;
  transform-origin: 0 0;
  transform: rotate(92.946deg) scale(1, 1);
  object-fit: cover;
}
._3-1 {
  width: 172.44px;
  height: 299.88px;
  position: absolute;
  left: 840.23px;
  top: 3144.18px;
  transform-origin: 0 0;
  transform: rotate(-96.069deg) scale(1, 1);
  object-fit: cover;
}
._111 {
  width: 129px;
  height: 182px;
  position: absolute;
  left: 590px;
  top: 2979px;
  object-fit: cover;
}
._1-2 {
  width: 473.12px;
  height: 656.98px;
  position: absolute;
  left: 1292.36px;
  top: 398.09px;
  transform-origin: 0 0;
  transform: rotate(-101.876deg) scale(1, 1);
  object-fit: cover;
}
._1-16 {
  width: 473.12px;
  height: 656.98px;
  position: absolute;
  left: 1209.17px;
  top: 172.77px;
  transform-origin: 0 0;
  transform: rotate(-67.394deg) scale(1, 1);
  object-fit: cover;
}
._2-13 {
  width: 1607px;
  height: 1542px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 7363px;
  object-fit: cover;
}
._1-17 {
  width: 1614px;
  height: 1548px;
  position: absolute;
  left: calc(50% - 824px);
  top: 9188px;
  object-fit: cover;
}
.group-14 {
  position: absolute;
  inset: 0;
}
._112 {
  width: 688.73px;
  height: 973.01px;
  position: absolute;
  left: -118px;
  top: 8869.5px;
  transform-origin: 0 0;
  transform: rotate(-17.971deg) scale(1, 1);
  object-fit: cover;
}
._113 {
  width: 408px;
  height: 576px;
  position: absolute;
  left: 1593.07px;
  top: 8356px;
  transform-origin: 0 0;
  transform: rotate(34.478deg) scale(1, 1);
  object-fit: cover;
}
._114 {
  width: 315px;
  height: 445px;
  position: absolute;
  left: 161px;
  top: 7229px;
  object-fit: cover;
}
._115 {
  width: 361.2px;
  height: 506.43px;
  position: absolute;
  left: 1980px;
  top: 9791.52px;
  transform-origin: 0 0;
  transform: rotate(124.868deg) scale(1, 1);
  object-fit: cover;
}
._22 {
  width: 246px;
  height: 432px;
  position: absolute;
  left: 153.95px;
  top: 9177.64px;
  transform-origin: 0 0;
  transform: rotate(9.437deg) scale(1, 1);
  object-fit: cover;
}
